*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,239,235);
}

img{
    max-width: 150%;
}

.diffuser-wrap{
    width: 500px;
    height: 600px;
    position: relative;
}

.diffuser{
    position: absolute;
    bottom: 0;
}

.smoke-wrap{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
}

.smoke1, .smoke2, .smoke3{
    filter: blur(50px);
    transform: translateX(50%);
}

.smoke1{
    animation: smoke 4s linear infinite;
    animation-delay: 0.5s;
}

.smoke2{
    animation: smoke 5s linear infinite;
    animation-delay: 1.5;
}

.smoke3{
    animation: smoke 6s linear infinite;
    animation-delay: 2.5s;
}

@keyframes smoke { 
    0%{
        filter: blur(0px);
        transform: translateY(0px) scale(-1, 1);
        opacity: 0;
    }
    25%{
        filter: blur(1px);
        transform: translateY(-10px) scale(-1, 1.05);
        opacity: 0.5;
    }
    50%{
        filter: blur(3px);
        transform: translateY(-20px) scale(-1, 1.1);
        opacity: 1;
    }
    75%{
        filter: blur(3px);
        transform: translateY(-30px) scale(-1, 1.1);
        opacity: 0.5;
    }
    100%{
        filter: blur(5px);
        transform: translateY(-40px) scale(-1, 1.2);
        opacity: 0;
    }
}
